<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.onlyloveyd.demo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ReadAndWriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MatOperationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PixelStatisticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ShapeRenderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContrastBrightnessActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ColorTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ChannelSplitMergeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ImageBinaryzationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PerspectiveTransformationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AffineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PolarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GLPyramidActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HistActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.Filter2DActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SaltPepperNoiseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GaussianNoiseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MeanFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BoxFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GaussianFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.BilateralFilterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EdgeDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SobelEdgeDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ScharrEdgeDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LaplacianEdgeDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CannyEdgeDetectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConnectedComponentsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DistanceTransformActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ErosionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DilateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MorphologyExActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HoughLineDetectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HoughCircleDetectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FitLineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FindContoursActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ContourPolyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ConvexHullActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MatchTemplateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.QRDetectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.FloodFillActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.WaterShedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GrabcutActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MeanShiftActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InPaintActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NonPhotoRealisticRenderingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.DecolorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>